spring:
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/springboot
    username: root
    password: root
logging:
  file: my.log
  level: debug
mybatis:
  type-aliases-package: com.ijpay.entity
  mapper-locations: classpath:mapper/*.xml


